.auth-option{
  display: flex;
  align-items: center;
}
.auth-option ion-button{
  --background: transparent;
  --color: #000;
  --box-shadow: none;
  border-bottom: 1px solid #000;
  --padding-end: 0;
  --padding-start: 0;
  /* min-height: 0; */
  margin: 0;
  height: initial;
}
