ion-content{
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 50px;
  --padding-top: 20px;
}
ion-input{
  --border-width: 0;
  --border-radius: 8px;
}
ion-button{
  --background: #1a4594;
}
