// ion-toolbar{
//   display: flex;
//   justify-content: space-between;
// }
ion-header{
  --background: #fff;
  background: #fff;
}
.root-container{
  padding: 0 22px;
  width: 100%;
  height: 100%;
  background-image: url(../assets/all_page_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.more{
  --background: #fff;
    background: transparent;
    --box-shadow: none;
}
.more ion-icon{
  color: var(--br-color-dark)
}
ion-toolbar{
  --background: #fff;
  background: #fff;
}
ion-header ion-title button{
background: #fff;
}

ion-modal ion-content{
  --background: #fff;
  background: #fff;
  background: red;
    --background: red;
}
