<ion-app>
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-title>
        <button (click)="goToHome()">Birthday Reminder</button>
      </ion-title>

      <!-- <ion-button id="click-trigger">Left-Click Me</ion-button> -->
      <!-- <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">Hello World!</ion-content>
        </ng-template>
      </ion-popover> -->
      <!-- <ion-buttons slot="end"> -->
        <ion-button class="more" (click)="presentPopover($event)" slot="end" *ngIf="this.showLoggedOutButton"><ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon></ion-button>
        <!-- <ion-button (click)="login()" slot="end" *ngIf="showLogInButton">Login</ion-button>
        <ion-button (click)="register()" slot="end" *ngIf="showRegisterButton">Register</ion-button> -->
        <!-- <ion-button routerLink="'/login'" slot="end" >Go To</ion-button> -->

      <!-- </ion-buttons> -->
      <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
        <ng-template>
          <ion-content class="ion-padding" [fullscreen]="true">
            <ion-button (click)="logOut()" class="logout-btn">logout</ion-button>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-toolbar>
  </ion-header>
  <div class="root-container">
    <ion-router-outlet [animation]="enterAnimation"></ion-router-outlet>
  </div>
</ion-app>
<app-loader></app-loader>
<app-error-modal></app-error-modal>
