<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-wrapper">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Birthday Reminder App </strong>
    <p>This app is designed to ensure you never forget the birthday of a loved one.</p>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <!-- <div> -->
    <ion-button shape="round" class="get-started">Get Started <ion-icon src="../../assets/arrow_left.svg" slot="end"></ion-icon></ion-button>

    <!-- </div> -->
  </div>
</ion-content>
